{% extends 'base.html' %}
{% load static %}
{% block content %}


<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Azolar({{ root_type  }})</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
              <li class="breadcrumb-item active">Xizmatlar</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>
      <section class="content">

      <!-- Default box -->
      <div class="card card-solid">
        <div class="card-body pb-0">
          <div class="row d-flex align-items-stretch">
          {% if roots %}
                {% for i in roots %}
                {% if i.ut == 1  %}
                {% else %}
             <div class="col-12 col-sm-6 col-md-3 d-flex align-items-stretch">
              <div class="card bg-light">
                <div class="card-header text-muted border-bottom-0">
                  {{ i.prof }}
                </div>
                <div class="card-body pt-0">
                  <div class="row">
                    <div class="col-7">
                      <h2 class="lead"><b>{{ i }}</b></h2>
                      <p class="text-muted text-sm"><b>About: </b>{{ i.info }}</p>
                      <ul class="ml-4 mb-0 fa-ul text-muted">
                        <li class="small"><span class="fa-li"><i class="fas fa-lg fa-building"></i></span> {{ i.prosition.name }}</li>
                        <li class="small"><span class="fa-li"><i class="fas fa-lg fa-phone"></i></span> Phone #: + 800 - 12 12 23 52</li>
                      </ul>
                    </div>
                    <div class="col-5 text-center">
                        {% if i.img %}
                                 <img src="{{ i.img.url }}" alt="" class="img-circle img-fluid">
                        {% else %}
                            <img {% if i.gender %} src="{% static 'dist/img/avatar.png' %}" {% else %} src="{% static 'dist/img/avatar2.png' %}" {% endif %} alt="" class="img-circle img-fluid">
                       {% endif %}
                    </div>
                  </div>
                </div>
                <div class="card-footer">
                  <div class="text-right">
                    <a href="#" class="btn btn-sm bg-teal">
                      <i class="fas fa-comments"></i>
                    </a>
                    <a href="#" class="btn btn-sm btn-primary">
                      <i class="fas fa-user"></i> View Profile
                    </a>
                  </div>
                </div>
              </div>
            </div>
                {% endif %}
                {% endfor %}

         {% else %}
              <h3 class="text-danger">Uzur bu bolimdan xech narsa topilmadi</h3>
         {% endif %}
          </div>
        </div>
        <!-- /.card-body -->
        <div class="card-footer">
          <nav aria-label="Contacts Page Navigation">
            <ul class="pagination justify-content-center m-0">
              <li class="page-item active"><a class="page-link" href="#">1</a></li>
              <li class="page-item"><a class="page-link" href="#">2</a></li>
              <li class="page-item"><a class="page-link" href="#">3</a></li>
              <li class="page-item"><a class="page-link" href="#">4</a></li>
              <li class="page-item"><a class="page-link" href="#">5</a></li>
              <li class="page-item"><a class="page-link" href="#">6</a></li>
              <li class="page-item"><a class="page-link" href="#">7</a></li>
              <li class="page-item"><a class="page-link" href="#">8</a></li>
            </ul>
          </nav>
        </div>
        <!-- /.card-footer -->
      </div>
      <!-- /.card -->

    </section>
    <!-- Main content -->
    <section class="content">
      <div class="row">
        <div class="col-12">

          <div class="card">
            <div class="card-header">
              <h3 class="card-title">Azolar ro'yhati({{ root_type }})</h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
              {% if roots %}
              	 <!-- Main content -->



            
              <table id="example1" class="table table-bordered table-striped">
                <thead>
                <tr>
                    <th>№</th>
                    <th>Nomi</th>
                    <th>Phone</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for i in roots %}
                {% if i.ut == 1  %}
                {% else %}
                {% endif %}
                <tr>
                    <td>{{ forloop.counter }}</td>

                    {% if  not i.is_active %}
                    	  <td class="text-danger">{{ i }} <sup> <span class="badge badge-danger ">banned</span></sup></td>
                    {% elif i.new %}
                    	  <td>{{ i }} <sup> <span class="badge badge-success ">new</span></sup></td>

                    {% else %}
                         <td>{{ i }}</td>
                    {% endif %}

                    <td>{{ i.phone }}</td>
                    <td>
                        <a href="" title="To'lliq ma'lumotlarni ko'rish" class="btn btn-info btn-circle btn-sm">
                            <i class="fas fa-info-circle"></i>
                        </a>

                      {% if i.is_active  %}
                      	 </a> <a href="{% url 'banned' user_id=i.id tpe=i.ut status=0 %}" title="Ban"  class="btn btn-danger btn-circle btn-sm">
                            <i class="fas fa-thumbs-down"></i>
                         </a>

                      {% else %}
                           </a> <a href="{% url 'banned' user_id=i.id tpe=i.ut status=1 %}"  title="Unban" class="btn btn-success btn-circle btn-sm">
                            <i class="fas fa-thumbs-up"></i>
                           </a>

                      {% endif %}
                      {% if i.ut == 3 %}
                          <a href="{% url 'grader' pk=i.id ut=2 dut=i.ut %}" title="GradeUp to Admin"  class="btn btn-primary btn-circle btn-sm">
                                <i class="fas fa-arrow-up "></i>
                          </a>
                          <a href="{% url 'grader' pk=i.id ut=4 dut=i.ut %}" title="GradeDown to member"  class="btn btn-danger btn-circle btn-sm">
                                <i class="fas fa-arrow-down"></i>
                          </a>
                      {% elif i.ut == 2 %}
                          <a href="{% url 'grader' pk=i.id ut=3 dut=i.ut %}" title="GradeDown to Doc"  class="btn btn-danger btn-circle btn-sm">
                                <i class="fas fa-arrow-down "></i>
                          </a>
                          <a href="{% url 'grader' pk=i.id ut=4 dut=i.ut %}" title="GradeDown to member"  class="btn btn-danger btn-circle btn-sm">
                                   <i class="fa-solid fa-angles-down"></i>
                          </a>
                     {% else %}
                           <a href="{% url 'grader' pk=i.id ut=3 dut=i.ut %}" title="GradeUp to Doc"  class="btn btn-primary btn-circle btn-sm">
                                <i class="fas fa-arrow-up "></i>
                          </a>
                          <a href="{% url 'grader' pk=i.id ut=2 dut=i.ut %}" title="GradeUp to Admin"  class="btn btn-success btn-circle btn-sm">
                                <i class="fa-solid fa-angles-up"></i>
                          </a>

                     {% endif %}
                    </td>

                </tr>
                {% endfor %}

                </tbody>

              </table>
                <br>
                <hr>
                <div class="pagination">
                    <span class="step-links">
                        {% if roots.has_previous %}
                            <a href="?page=1" class="btn btn-primary btn-sm">&laquo;first</a>
                            <a href="?page={{ roots.previous_page_number }}"  class="btn btn-primary btn-sm">prev</a>
                        {% endif %}

                        <span class="current">
                            Page {{ roots.number }} of {{ roots.paginator.num_pages }}.
                        </span>

                        {% if roots.has_next %}
                            <a href="?page={{ roots.next_page_number }}" class="btn btn-primary btn-sm">next</a>
                            <a href="?page={{ roots.paginator.num_pages }}" class="btn btn-primary btn-sm">last&raquo;</a>
                        {% endif %}
                    </span>
                </div>
                {% else %}
                  <h3 class="text-danger">Uzur bu bo'limdan xech narsa topilmadi</h3>
                {% endif %}
                <hr>
                <div class="row">
                    <div class="col-xl-6 col-md-6 mb-4">

                        <a href="{% url 'home' %}"  class="btn btn-info" >
                           <span class="icon text-white-50">
                                <i class="fas fa-home"></i>
                            </span>
                            <span class="text">Bosh Menu</span>
                       </a>
                    </div>
                </div>
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </section>
    <!-- /.content -->
  </div>
{% endblock %}

