{% extends 'base.html' %}
{% load static %}
{% block content %}


<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-3">
            <h1>Azolar({{ root_type  }})</h1>
          </div>
          <div class="col-sm-3">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
              <li class="breadcrumb-item active">Xizmatlar</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>
      <section class="content">

      <!-- Default box -->
      <div class="card card-solid">
        <div class="card-body pb-0">
          <div class="row d-flex align-items-stretch">
          {% if roots %}
                {% for i in roots %}
                {% if i.ut == 1  %}
                {% else %}
             <div class="col-3 col-sm-3 col-md-3Ftol d-flex align-items-stretch">
              <div class="card bg-light">
                <div class="card-header text-muted border-bottom-0">
                  {{ i.prof }}
                </div>
                <div class="card-body pt-0">
                  <div class="row">
                    <div class="col-7">
                      <h2 class="lead"><b>{{ i }}</b></h2>
                      <p class="text-muted text-sm"><b>About: </b>{{ i.info }}</p>
                      <ul class="ml-4 mb-0 fa-ul text-muted">
                        <li class="small"><span class="fa-li"><i class="fas fa-lg fa-building"></i></span> {{ i.prosition }}</li>
                        <li class="small"><span class="fa-li"><i class="fas fa-lg fa-phone"></i></span> Phone : {{ i.phone }}</li>
                      </ul>
                    </div>
                    <div class="col-5 text-center">
                        {% if i.img %}
                                 <img src="{{ i.img.url }}" alt="" class="img-circle img-fluid">
                        {% else %}
                            <img {% if i.gender %} src="{% static 'dist/img/avatar.png' %}" {% else %} src="{% static 'dist/img/avatar2.png' %}" {% endif %} alt="" class="img-circle img-fluid">
                       {% endif %}
                    </div>
                  </div>
                </div>
                <div class="card-footer">
                  <div class="text-right">
                        <a href="" title="To'lliq ma'lumotlarni ko'rish" class="btn btn-info btn-circle btn-sm">
                            <i class="fas fa-info-circle"></i>
                        </a>
{#                  {% if not i.is_spam %}#}
{##}
{#                        <a href="{% url 'spammer' pk=i.id dut=i.ut %}" title="Spam" class="btn btn-warning btn-circle btn-sm">#}
{#                            <i class="fas fa-hand"></i>#}
{#                        </a>#}
{##}
{#                   {% endif %}#}
                      {% if i.is_active  %}
                      	 </a> <a href="{% url 'banned' user_id=i.id tpe=i.ut status=0 %}" title="Ban"  class="btn btn-danger btn-circle btn-sm">
                            <i class="fas fa-thumbs-down"></i>
                         </a>

                      {% else %}
                           </a> <a href="{% url 'banned' user_id=i.id tpe=i.ut status=1 %}"  title="Unban" class="btn btn-success btn-circle btn-sm">
                            <i class="fas fa-thumbs-up"></i>
                           </a>

                      {% endif %}

                      {% if i.ut == 3 %}

{#                              <a href="{% url 'grader' pk=i.id ut=2 dut=i.ut %}" title="GradeUp to Admin"  class="btn btn-primary btn-circle btn-sm">#}
{#                                    <i class="fas fa-arrow-up "></i>#}
{#                              </a>#}
{#                              <a href="{% url 'grader' pk=i.id ut=4 dut=i.ut %}" title="GradeDown to member"  class="btn btn-danger btn-circle btn-sm">#}
{#                                    <i class="fas fa-arrow-down"></i>#}
{#                              </a>#}




                      {% elif i.ut == 2 %}
{#                          <a href="{% url 'grader' pk=i.id ut=3 dut=i.ut %}" title="GradeDown to Doc"  class="btn btn-danger btn-circle btn-sm">#}
{#                                <i class="fas fa-arrow-down "></i>#}
{#                          </a>#}
                          <a href="{% url 'grader' pk=i.id ut=4 dut=i.ut %}" title="GradeDown to member"  class="btn btn-danger btn-circle btn-sm">
                                   <i class="fa-solid fa-angles-down"></i>
                          </a>
                     {% else %}
{#                           <a href="{% url 'grader' pk=i.id ut=3 dut=i.ut %}" title="GradeUp to Doc"  class="btn btn-primary btn-circle btn-sm">#}
{#                                <i class="fas fa-arrow-up "></i>#}
{#                          </a>#}
                          <a href="{% url 'grader' pk=i.id ut=2 dut=i.ut %}" title="GradeUp to Admin"  class="btn btn-success btn-circle btn-sm">
                                <i class="fa-solid fa-angles-up"></i>
                          </a>


                      {% endif %}

                  </div>
                </div>
              </div>
            </div>
                {% endif %}
                {% endfor %}

         {% else %}
              <h3 class="text-danger">Uzur bu bolimdan xech narsa topilmadi</h3>
         {% endif %}
          </div>
        </div>
        <!-- /.card-body -->
        <div class="card-footer">
          <nav aria-label="Contacts Page Navigation">
            <ul class="pagination justify-content-center m-0">
                        {% if roots.has_previous %}
                             <li class="page-item active"><a class="page-link" href="?page={{ roots.previous_page_number }}"><<</a></li>
                        {% endif %}

                {% for i in page_len %}
                	{% if current_page == i %}
                		 <li class="page-item active"><a class="page-link" >{{ i }}</a></li>

                	{% else %}
                  		 <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>

                    {% endif %}
             {% endfor %}
             {% if roots.has_next %}
                 <li class="page-item"><a class="page-link" href="?page={{ roots.next_page_number }}">>></a></li>

             {% endif %}

            </ul>
          </nav>
             <hr>
                <div class="row">
                    <div class="col-xl-6 col-md-6 mb-4">

                        <a href="{% url 'home' %}"  class="btn btn-info" >
                           <span class="icon text-white-50">
                                <i class="fas fa-home"></i>
                            </span>
                            <span class="text">Bosh Menu</span>
                       </a>
                    </div>
                </div>
        </div>
        <!-- /.card-footer -->

      </div>
      <!-- /.card -->

    </section>
    <!-- Main content -->

    <!-- /.content -->
  </div>
{% endblock %}

