  {% load static %}



      <section class="content">

      <!-- Default box -->
      <div class="card card-solid">
        <div class="card-body pb-0">
          <div class="row d-flex align-items-stretch">
          {% if services %}
                {% for i in services %}
                {% if i.ut == 1  %}
                {% else %}
             <div class="col-12 col-sm-3 col-md-3Ftol d-flex align-items-stretch">
              <div class="card bg-light">
                <div class="card-header text-muted border-bottom-0">
                  {{ i.prof }}
                </div>
                <div class="card-body pt-0">
                  <div class="row">
                    <div class="col-7">
                      <h2 class="lead"><b>{{ i }}</b></h2>
                      <p class="text-muted text-sm"><b>About: </b>{{ i.info }}</p>

                    </div>
                    <div class="col-5 text-center">
                        <img src="{{ i.icon.url }}" alt="" class="img-circle img-fluid">

                    </div>
                  </div>
                </div>
                <div class="card-footer">
                  <div class="text-right">
                        <a href="" title="To'lliq ma'lumotlarni ko'rish" class="btn btn-info btn-circle btn-sm">
                            <i class="fas fa-info-circle"></i>
                        </a>


                  </div>
                </div>
              </div>
            </div>
                {% endif %}
                {% endfor %}

         {% else %}
              <h3 class="text-danger">Uzur bu bolimdan xech narsa topilmadi</h3>
         {% endif %}
          </div>
        </div>
        <!-- /.card-body -->

        <!-- /.card-footer -->
  <div>
                <i class="fas fa-video bg-maroon"></i>

                <div class="timeline-item">
                  <span class="time"><i class="fas fa-clock"></i> 5 days ago</span>

                  <h3 class="timeline-header"><a href="#">Mr. Doe</a> shared a video</h3>

                  <div class="timeline-body">
                    <div class="embed-responsive embed-responsive-16by9">
                      <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/ccxQxv4J0eA?si=kn0lMK9jo24fnTEa" frameborder="0" allowfullscreen=""></iframe>
                    </div>
                  </div>
                    https://www.youtube.com/watch?v=UNwm7EYa1J8
                  <div class="timeline-footer">
                    <a href="#" class="btn btn-sm bg-maroon">See comments</a>
                  </div>
                </div>
              </div>
              <!-- END timeline item -->
      </div>
      <!-- /.card -->

    </section>
    <!-- Main content -->