  {% load static %}



      <section class="content">

      <!-- Default box -->
      <div class="card card-solid">

        <div class="card-body pb-0">
             <div class="timeline-item">


                          <h3 class="timeline-header"><a href="#">Anfa-Clinic</a> video</h3>

                          <div class="timeline-body">
                            <div class="embed-responsive embed-responsive-16by9">
                              <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/n7nUqqRUYwc?si=MPwKSKqKStfhfkuO" frameborder="0" allowfullscreen=""></iframe>
                            </div>
                          </div>

                        </div>
          <br></br>

            <h3 class="text-center">Doctors Clinik-Anfa</h3>
        <br></br>
          <div class="row d-flex align-items-stretch">

          {% if services %}
                {% for i in services %}
                {% if i.ut == 1  %}
                {% else %}
             <div class="col-12 col-sm-3 col-md-3Ftol d-flex align-items-stretch">
              <div class="card bg-light">
                <div class="card-header text-muted border-bottom-0">
                  {{ i.prof }}
                </div>
                <div class="card-body pt-0">
                  <div class="row">
                    <div class="col-7">
                      <h2 class="lead"><b>{{ i }}</b></h2>
                      <p class="text-muted text-sm"><b>About: </b>{{ i.info | slice:":200" }}</p>

                    </div>
                    <div class="col-5 text-center">
                        <img src="{{ i.icon.url }}" alt="" class="img-circle img-fluid">

                    </div>
                  </div>
                </div>
                <div class="card-footer bg-info">
                  <div class="text-right ">
                        <a href="{% url 'servicedocs' service=i.id %}"  class=" text-white small-box-footer">
                            Batafsil
                            <i class="fas fa-arrow-circle-right"></i>
                        </a>


                  </div>
                </div>
              </div>
            </div>
                {% endif %}
                {% endfor %}

         {% else %}
              <h3 class="text-danger">Uzur bu bolimdan xech narsa topilmadi</h3>
         {% endif %}
          </div>
        </div>
        <!-- /.card-body -->

        <!-- /.card-footer -->



              <!-- END timeline item -->
      </div>
      <!-- /.card -->

    </section>
    <!-- Main content -->
